@import url("./color.css");
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
body{
    background-color: var(--primary);
    color: var(--text) !important;
    font-family: "Nunito Sans", sans-serif;
    padding: 0;
    margin: 0;
    overflow: hidden;
    width: 100vw;
}
input{
  background-color: transparent;
  color: var(--text);
  padding: 10px 10px;
  font-size: 1.1rem;
  border-radius: 8px;
  outline: none;
  border: none;
  box-shadow: 0px 0px 3px var(--secondary);
}
input:focus{
  outline: none;
  box-shadow: 0px 0px 6px var(--shadow);
}
input[type="date"]{
  background-color: var(--primary);
}
input[type="date"]::-webkit-calendar-picker-indicator {

  cursor: pointer;
  border-radius: 4px;
  margin-right: 2px;
  opacity: 0.6;
  filter: invert(1);
}
input[type="date"]::-webkit-calendar-picker-indicator:hover {  
  opacity: 1;
}
input[type="time"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  border-radius: 4px;
  margin-right: 2px;
  opacity: 0.6;
  filter: invert(1);
}
input[type="time"]::-webkit-calendar-picker-indicator:hover {  
  opacity: 1;
}

.center{
    height: calc(100vh - var(--headerHeight));
}
.div-header{
  width: 100%;
}
.div-search{
  display:  flex;
  justify-content: right;
  padding: 10px 20px;
  gap: 10px;
}
.div-input-search{
  position: relative;
  
  display: flex;
  align-items: center;
}
.icon-search{
  font-size: 1.3rem; 
  justify-content: center;
  align-items: center;
  position: absolute;
 left: 5px;
}
.input-search{
  font-size: 1rem;
  padding: 10px 10px 10px 30px;
 border-radius: 8px;
border-style: none;
}
.input-search::-webkit-search-cancel-button{
  appearance: none;
  height: 1.5rem;
  width: 1.5rem;
  mask-image: url("../assets/icon/x.svg");
  background-color: var(--text);
  cursor: pointer;
}
.input-search::-webkit-search-cancel-button:hover{

}
.input-search:focus{
  outline: none;
}

.div-tabs{
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding: 10px 20px;
  gap: 15px;
  overflow-x: auto;
}
.div-tabs span{
  border-bottom: 2px solid var(--text);
  padding: 3px 6px;
  cursor: pointer;
  font-size: 0.875rem;
}
.div-tabs span:hover{
opacity: 100%;
}
.div-tabs:has(span:hover) :not(:hover){
  opacity: 50%;
}
.tab-active{
  border-bottom: 2px solid var(--acent) !important;
  color: var(--acent);
  
}
.div-sort{
  display: flex;
  justify-content: right;
  padding: 2px 35px 5px 0px;
  
}
.drop-down{
  position: relative;

}
.div-select{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.div-button-sort {
  font-size: 0.7rem;
  width: 100px;
  cursor: pointer;
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.menu-sort{
  display: flex;
  flex-direction: column;
  background: var(--secondary);
  border-radius: 8px;
  box-shadow: 0px 0px 5px var(--shadow);
  gap: 5px;
  padding: 10px 20px;
  width: 100px;
  
}
.menu-sort>*{
 border-bottom: 1px solid var(--shadow);
 padding: 4px;
}
.menu-sort>*:hover{
  opacity: 50%;
  cursor: pointer;
}
.close-sort{
  position: absolute;
  right: 25px;
  top :35px;
  z-index: 1;
  transition: all 0.5s ease-in;
  opacity: 0;
  height: 0;
 overflow: hidden;
}

.open-sort{
  position: absolute;
  right: 25px;
  top :60px;
  z-index: 1;
  transition: all 0.5s ease-in;
 height: auto;
 opacity: 1;

}
.open-sort::after{
  content: "";
  width: 20px;
  height: 20px;
  background-color: var(--secondary);
  z-index: 2;
  position: absolute;
  top:-10px;
  rotate: 45deg;
  right: 40%;
}
.subOptionDown{
position:relative;
}
.subOptionDown +div{
  display: none;
  background-color: var(--secondary);
 ;
}
.subOptionDown +div::after{
  content: " ";
  width: 20px;
  height: 20px;
  position: absolute;
  right: -10px;
  bottom: 5px;
  rotate: 45deg;
  background-color: var(--secondary);
}
.subOptionDown:hover + div{
  display: flex;
  flex-direction: column;
  padding:15px;
  gap: 8px;
  position: absolute;
  right: 155px;
  bottom: 0;
  z-index: 5;
}
.subcontainer-data{
  position: relative;
  height: calc(100vh - 300px);
  overflow-y: auto;
  overflow-x: hidden;
display: grid;
padding: 10px 20px;
gap: 20px;
grid-auto-rows:20rem;
grid-template-columns: repeat(auto-fill, minmax(min(100%, 25rem),1fr));
}
.container-data{
  position: relative;
  height: calc(100vh - 250px);
  overflow-y: auto;
  overflow-x: hidden;
display: grid;
padding: 10px 20px;
gap: 20px;
grid-auto-rows:22rem;
grid-template-columns: repeat(auto-fill, minmax(min(100%, 25rem),1fr));
}
.container-select{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
 
}
.card{
 
  border-radius: 10px;
  display: flex;  
  gap: 10px;
  box-shadow: 0px 0px 4px var(--shadow);
}
.div-fecha{
  width: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.span-fecha{
  font-size: 2.5rem;
 
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 4px;
 color: var(--acent);
}

.div-fecha:nth-child(n+1){
  font-size: 1rem;
}
.card-body{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 5px 10px 5px 0px;
}

.card-header{
  display: flex;
  justify-content: space-between;
height: 20%;
align-items: center;

}
.card-header span{
 font-size: 1.2rem;
 font-weight: 700;
}
.card-header i{
  display: flex;
  justify-content: space-between;

}
.card-info{
  display: flex;
  flex-direction: column;
  height: 60%;
  gap: 5px;
}
.label-observacion{
  height: 120px;
display: block;
text-overflow: ellipsis;
white-space: nowrap;
font-size: .875rem;

width: 230px;
overflow-x: hidden;
}
.card-footer{
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
 
  height: 20%;
}
.intervalDay{
  font-size: 0.8rem;
  color: var(--acent);
}
/*=================================================css de los textiputs del los formularios=====================*/
.div-input{
display: flex;
flex-direction: column;
padding: 5px 10px;
gap: 5px;
margin: 5px 0px;
}
.div-input label{
  font-size: 0.875rem;
}
/*=================================================css del scrollbar ===========================================*/

::-webkit-scrollbar{
width: 0px;
height: 0px;

}

::-webkit-scrollbar-track {
    background: #f1f1f12c;
  }
 
  ::-webkit-scrollbar-thumb {
    background: #6affc65b;
  
    border-radius: 3px;
  }
  

  ::-webkit-scrollbar-thumb:hover {    
    background: #6affc6;
  }

