@import url("./color.css");
.header{
    width: 100%;
    height: var(--headerHeight);
    background-color: var(--primary);
    font-size: 1.2rem;
    padding:  5px 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    box-shadow: 1px 1px 1px var(--shadow);

    }
    .header i{
font-size: 2rem;
    }
    